{% extends "base.html" %}

{% block head %}
<title>{{ item.short_name }} - {{ SITE_NAME }}</title>
{% endblock %}

{% block header %}
<header>
  <h1>{{ item.short_name }} - {{ SITE_NAME }}</h1>
  <nav class="current">
    <ul>
      <li><a href="/">Home</a></li>
      <li>{{ item.short_name }}</li>
    </ul>
  </nav>
</header>
{% endblock %}

{% block main %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Product",
  "name": "{{ item.short_name }}",
  "description": "{{ item.description }}",
  "offers": {
    "@type": "Offer",
    "availability": "http://schema.org/InStock",
    "price": "{{ item.price }}",
    "priceCurrency": "JPY",
    "seller": "{{ item.shop }} / {{ item.supplier }}"
  }{% if item.review > 0 %},
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ item.rating }}",
    "reviewCount": "{{ item.review }}"
  }{% endif %}
}
</script>

<div class="item" itemscope itemtype="http://schema.org/Product">
<img itemprop="image" src="{{ item.img }}">
<a href="{{ item.url }}" target="_blank"><h3 itemprop="name">{{ item.name }}</h3></a>
{% autoescape off %}
<span itemprop="description">{{ item.caption[:100] }}</span>
{% if item.caption[100:] %}{{ item.caption[100:] }}{% endif %}
{% endautoescape %}
<p>
<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
 <meta itemprop="priceCurrency" content="JPY" />
 <span itemprop="price" content="{{ item.price }}" class="red">{{ item.price|intcomma }}円</span>
 <span itemprop="seller"> {% if item.shop %}{{ item.shop }}{% endif %}/ {{ item.supplier }}</span>
</span><!-- /Offer -->
{% if item.review > 0 %}<span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
<span itemprop="ratingValue" class="blue">{{ item.rating }}</span> (<span itemprop="reviewCount" class="blue">{{ item.review|intcomma }}</span>)
</span>{% endif %}
</p>
</div><!-- /Product -->

<p class="buy"><a href="{{ item.url }}" target="_blank">この商品を {{ item.supplier }} で購入</a></p>

{% if item.links %}
<ul class="keywords">
  <li>関連ワード:</li>
  {% for link in item.links  %}
  <li><a href="/word/{{ link.path|urlquote }}/">{{ link.word }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<p class="ad"><a href="{{ SITE_AD.url }}">{{ SITE_AD.name }}</a></p>
{% endblock %}

{% block footer %}
<footer>{{ item.short_name }} - {{ SITE_NAME }}</footer>
{% endblock %}